* {
  margin: 0;
  padding: 0;
}
main {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(24, 22, 75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
section:first-child {
  margin-bottom: 50px;
}
form {
  display: flex;
  flex-direction: column;
  min-width: 40vw;
  gap: 15px;
}
label {
  color: whitesmoke;
  font-size: 20px;
}
input,
select {
  display: block;
  width: 100%;
  height: 30px;
}
#btn {
  width: 100px;
  height: 40px;
  background-color: rgb(86, 255, 86);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
table {
  width: 50vw;
  background-color: whitesmoke;
  border-radius: 2px;
}
thead {
  background-color: black;
  color: white;
  height: 35px;
  width: 55px;
}
th {
  text-align: center;
  font-size: 22px;
  padding: 8px;
}
td {
  color: green;
  font-size: 19px;
  font-weight: 600;
  text-align: center;
  padding: 5px;
}
